/*--------------------------
# General
----------------------------*/
:root {
    --purple-1: #390C3E;
    --purple-2: #5A235C;
    --purple-3: #7B3A7B;
    --purple-4: #9C5199;
    --purple-5: #BD67B7;
    --purple-6: #DE7ED6;
    --hheader: 10vh;
    --hfooter: 10vh;
    --hmain: 80vh;
    --paddingh: 2rem;
    --paddingv-main: 2.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

time,
.date {
    font-style: italic;
    font-size: 0.9rem;
}

.btn-blog {
    background-color: var(--purple-1);
    border-radius: 0.5rem;
    color: white;
}

.btn-blog:hover {
    background-color: white;
    color: var(--purple-1);
    border-color: var(--purple-1);
}

.btn-blog-circle {
    background-color: var(--purple-1);
    border-radius: 50%;
    padding: 0.75rem 1rem;
    color: white;
}

.btn-blog-circle:hover,
.btn-blog-circle:active {
    background-color: white;
    color: var(--purple-1);
}

form p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/*--------------------------
# HEADER
----------------------------*/

header {
    position: fixed;
    top: 0;

    width: 100%;
    height: var(--hheader);

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple-3);
    padding: 0 var(--paddingh);
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-family: 'Lobster';
}

header .nav-item {
    width: 47px;
}

/*--------------------------
# MAIN
----------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-top: var(--hheader);
    margin-bottom: var(--hfooter);
    min-height: var(--hmain);
    padding: var(--paddingv-main) var(--paddingh);

    background: url("../img/sky.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

article {
    display: flex;
    flex-direction: column;
    width: 90%;

    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1.2rem;
    padding: 1rem;

    -webkit-box-shadow: 0px 0px 10px 5px var(--purple-4);
    -moz-box-shadow: 0px 0px 10px 5px var(--purple-4);
    box-shadow: 0px 0px 10px 5px var(--purple-4);
}

article .post .title {
    color: var(--purple-1);
    font-family: 'Lobster';
    font-size: 1.8rem;
    text-transform: capitalize;
    text-decoration: none;
}

article .comments {
    border-top: 1px solid var(--purple-4);
    padding: 1rem 0;
}

article .comments .subtitle {
    color: var(--purple-1);
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

article .comments .list {
    width: 90%;
    margin: 0 auto;
}

.comment {
    padding: 0.5rem 0;
    border-bottom: 1px dotted gray;
}

.comment p {
    margin-bottom: 0;
}

article .actions a,
span.inactive span {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}

span.inactive {
    cursor: not-allowed;
}

span.inactive span {
    background-color: transparent;
    border-color: var(--purple-2);
    color: var(--purple-2);
    pointer-events: none;
}

article .rcomments {
    font-size: 1rem;
}

.div_post_form {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.5rem;
}

.div_post_form h2 {
    color: var(--purple-1);
    font-family: 'Lobster';
}

form p input,
form p textarea{
    width: 80%;
}

/*--------------------------
# FOOTER
----------------------------*/

footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: var(--hfooter);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple-3);
    padding: 0 var(--paddingh);
    color: white;
}

footer span {
    font-style: italic;
}
