{% extends 'blog/base.html' %}

{% block content %}
  <main>
    {% for post in posts %}
      <article>
        <div class="post">
          <div class="d-flex flex-column">
            <a href="#" class="title">{{ post.title }}</a>
            <time>published: {{ post.published_date }}</time>
          </div>
          <p>{{ post.text }}</p>
        </div>
        
        <div class="rcomments">
          <p>{{ post.comments.count }} comment(s)</p>
        </div>
      </article>
    {% empty %}
      <div class="empty-posts">No posts are available.</div>
    {% endfor %}
  </main>
{% endblock %}
