{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <main class="gap-5">
    <article>
      <div class="post">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-column">
            <span class="title">{{ post.title }}</span>

            {% if post.published_date %}
            <time>published: {{ post.published_date }}</time>
            {% endif %}
          </div>

          {% if user.is_authenticated %}
          <div class="actions">
            <a class="btn btn-blog-circle" href="#">
              <i class="bi bi-pencil-fill"></i>
            </a>
            <a class="btn btn-blog-circle" href="#">
              <i class="bi bi-trash3-fill"></i>
            </a>
            <a class="btn btn-blog-circle big" href="#">
              <i class="bi bi-plus-circle-dotted"></i>
            </a>
          </div>
          {% endif %}
        </div>
        <p>{{ post.text }}</p>
      </div>

      <div class="comments">
        {% if post.comments.all %}
        <p class="subtitle">Comments:</h3>
        {% endif %}

        <div class="list">
          {% for comment in post.comments.all %}
          <div class="comment">
            <div class="d-flex justify-content-between align-items-center">
              <div class="date">
                {{ comment.created_date }}
              </div>
              
              <div class="actions">
                {% if comment.approved_comment %}
                <span class="inactive">
                  <span class="btn btn-blog-circle big">
                    <i class="bi bi-check2-all"></i>
                  </span>
                </span>
                {% else %}
                <a class="btn btn-blog-circle big" href="#">
                  <i class="bi bi-check2-all"></i>
                </a>
                {% endif %}
                <a class="btn btn-blog-circle" href="#" onclick="return confirm('Are you sure you want to delete this comment?')">
                  <i class="bi bi-trash3-fill"></i>
                </a>
              </div>
            </div>

            <p>{{ comment.text }}</p>
          </div>
          {% empty %}
          <p class="mb-0">No comments here yet</p>
          {% endfor %}
        </div>
      </div>
        
    </article>
  </main>
{% endblock %}